<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Harmic - Organic Food HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />

    <!-- CSS ============================================ -->

    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" th:href="@{css/vendor/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{css/vendor/Pe-icon-7-stroke.css}" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" th:href="@{css/plugins/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/plugins/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{css/plugins/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{css/plugins/magnific-popup.min.css}"/>

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{css/mainpage.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/mainpage.css">

</head>

<body>

<div th:replace="/common/menubar.html"></div>

<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height">
                    <img class="banner-img" src="/images/main/banner.png">

                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" >
                    <img src="/images/main/bean.png">
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="../../static/images/common/logo.png">

                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="../../static/images/common/logo.png">

                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="../../static/images/common/logo.png">

                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->

<!-- Begin Product Area -->
<div class="main-wrapper">
    <!-- Begin Main Content Area -->
    <main>
        <div class="shop-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2 pt-10 pt-lg-0">
                        <div class="sidebar-area" style="width: 300px;">
                            <div class="widgets-area mb-9">
                                <h2 class="widgets-title mb-5"><a class="ranktext" style="font-size: 16pt; font-weight: bold;">실시간 랭킹</a>
                                    <select class="ranktext1">
                                        <option value="">정렬</option>
                                        <option value="달성률순">달성률순</option>
                                    </select></h2>
                                <div class="widgets-item">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper" id="productrank">
                                            <div th:each="project : ${ rankingList }">
                                                <div class="swiper-slide">
                                                    <div class="product-list-item">
                                                        <div>
                                                            <h2 class="ranking">1</h2>
                                                        </div>
                                                        <div class="rank-content">
                                                            <a class="rank-name" href="single-product.html" th:text="${ project.projectName }"></a>
                                                            <div class="price-box pb-1">
                                                                <span class="rank-percent" th:text="${ project.achievementRate + '%' }"></span><span class="rank-compony" th:text="${ project.projectName }"></span>
                                                            </div>
                                                        </div>
                                                        <div class="product-img img-zoom-effect">
                                                            <a href="single-product.html">
                                                                <img class="img-full" id="rankingimg" th:src="@{images/main/grape.png}" alt="Product Images">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="swiper-slide">
                                                <div class="product-list-item">
                                                    <div>
                                                        <h2 class="ranking">2</h2>
                                                    </div>
                                                    <div class="rank-content">
                                                        <a class="rank-name" href="single-product.html">콩먹으면 머리나요</a>
                                                        <div class="price-box pb-1">
                                                            <span class="rank-percent">800%</span><span class="rank-compony">블랙푸드</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-img img-zoom-effect">
                                                        <a href="single-product.html">
                                                            <img class="img-full" id="rankingimg" th:src="@{images/main/bean.png}" alt="Product Images">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-list-item">
                                                    <div>
                                                        <h2 class="ranking">3</h2>
                                                    </div>
                                                    <div class="rank-content">
                                                        <a class="rank-name" href="single-product.html">면역력 강화에 탁월!</a>
                                                        <div class="price-box pb-1">
                                                            <span class="rank-percent">400%</span><span class="rank-compony">풍기인삼</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-img img-zoom-effect">
                                                        <a href="single-product.html">
                                                            <img class="img-full" id="rankingimg" th:src="@{images/main/ginseng.png}" alt="Product Images">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-list-item">
                                                    <div>
                                                        <h2 class="ranking">4</h2>
                                                    </div>
                                                    <div class="rank-content">
                                                        <a class="rank-name" href="single-product.html">감자 사세요~</a>
                                                        <div class="price-box pb-1">
                                                            <span class="rank-percent">280%</span><span class="rank-compony">감자쿤</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-img img-zoom-effect">
                                                        <a href="single-product.html">
                                                            <img class="img-full" id="rankingimg" th:src="@{images/main/potato.png}" alt="Product Images">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="product-list-item">
                                                    <div>
                                                        <h2 class="ranking">5</h2>
                                                    </div>
                                                    <div class="rank-content">
                                                        <a class="rank-name" href="single-product.html">홍시 드세요~</a>
                                                        <div class="price-box pb-1">
                                                            <span class="rank-percent">220%</span><span class="rank-compony">곶감말고홍시</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-img img-zoom-effect">
                                                        <a href="single-product.html">
                                                            <img class="img-full" id="rankingimg" th:src="@{images/main/persimmon.png}" alt="Product Images">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 order-1">
                        <div class="tab-content text-charcoal pt-8">
                            <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                                <div class="product-grid-view row related">
                                    <h2 class="widgets-title mb-5"><a style="font-size: 20pt; font-weight: bold;">떡잎추천</a></h2>
                                    <div class="col-lg-4 col-sm-6 mainproduct">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">산지직송 짭짤이 토마토</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">짭짤 토메이로</span>
                                                </div>
                                                <progress class="progress" value="55" max="100"></progress>
                                                <a class="progressbar">55%</a><a class="progressbar1">22일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">복숭복숭아</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">과즙상</span>
                                                </div>
                                                <progress class="progress" value="84" max="100"></progress>
                                                <a class="progressbar">84%</a><a class="progressbar1">19일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">국내산 송이버섯</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">향긋</span>
                                                </div>
                                                <progress class="progress" value="100" max="100"></progress>
                                                <a class="progressbar">100%</a><a class="progressbar1">15일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">대파김치 담가 드세요~</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">쪽파보다대파</span>
                                                </div>
                                                <progress class="progress" value="78" max="100"></progress>
                                                <a class="progressbar">78%</a><a class="progressbar1">18일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">비타민 충전!</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">아이셔라</span>
                                                </div>
                                                <progress class="progress" value="43" max="100"></progress>
                                                <a class="progressbar">43%</a><a class="progressbar1">23일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product.html">
                                                    <img class="img-full mainimg" th:src="@{images/main/mushroom.png}" alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="single-product.html">건강챙기려면 현미</a><br><br>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">잡곡이 좋아</span>
                                                </div>
                                                <progress class="progress" value="91" max="100"></progress>
                                                <a class="progressbar">91%</a><a class="progressbar1">6일 남음</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content Area End Here -->
</div>
<!-- Product Area End Here -->



<!-- Begin Scroll To Top -->
<a class="scroll-to-top" href="">
    <i class="fa fa-chevron-up"></i>
</a>
<!-- Scroll To Top End Here -->

</div>

<!-- Global Vendor, plugins JS -->

<!-- JS Files
============================================ -->
<!-- Global Vendor, plugins JS -->

<!-- Vendor JS -->
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
<script th:src="@{/js/vendor/jquery.waypoints.js}"></script>


<!--Plugins JS-->
<script th:src="@{/js/plugins/wow.min.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/js/plugins/swiper-bundle.min.js}"></script>
<script th:src="@{/js/plugins/jquery.nice-select.js}"></script>
<script th:src="@{/js/plugins/parallax.min.js}"></script>
<script th:src="@{/js/plugins/jquery.magnific-popup.min.js}"></script>

<!--Main JS (Common Activation Codes)-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>