<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}">
</head>
<body style="overflow: hidden">
    <div th:replace="/common/userheader.html"></div>
    <div class="top-area">
        <h1>아이디·비밀번호 찾기</h1>
        <input type="button" id="find-pwd-id" value="아이디 찾기">
        <input type="button" id="find-pwd-pwd" value="비밀번호 찾기">
    </div>
    <div class="bottom-area">
        <form class="find-pwd-form">
            <p>아이디를 통해 <br>
            등록된 이메일로 인증번호가 전송됩니다.</p>
            <input type="text" name="memberId" placeholder="아이디">
            <input type="text" name="email" placeholder="이메일">
            <input type="button" class="small-btn" id="email-verification" value="인증번호 전송">
            <input type="text" id="verification" value="인증번호">
            <input type="button" class="small-btn" id="check-verification" value="확인">
            <button type="submit">확인</button>
        </form>
    </div>
</body>
    <script>
        document.getElementById("find-pwd-id").onclick = function() {
            location.href = "/member/find";
        }

        document.getElementById("find-pwd-pwd").onclick = function () {
            location.href = "/member/find/pwd";
        }
    </script>
</html>