<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/sangbum.css">
    <script>
        const successMessage = "[[${ successMessage }]]";
        if(successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
    <div class="login-form">
        <button onclick="location.href='/main/main'" class="logo"></button><br>
        <h1 class="login-title">로그인</h1>
        <form action="/member/login" method="post">
            <input type="text" name="memberId" placeholder="아이디"><br>
            <input type="password" name="memberPwd" placeholder="비밀번호"><br>
            <button onclick="location.href='/member/findid'" class="login-find">아이디·비밀번호 찾기></button><br>
            <button type="submit" class="bigbigbig-btn">로그인</button>
        </form>
        <a align="center" onclick="location.href='/member/regist'" class="login-regist">회원가입</a>
    </div>
</body>
</html>