<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <style>
        /*.vertical-menubar-area {*/
        /*    width: 20%;*/
        /*}*/
    </style>
</head>
<body>
<div class="vertical-menubar-area">
    <span class="text-title"></span>
    <div class="block">
        <input type="hidden">
        <p>파머정보</p>
        <p class="text-subtitle" >나문희</p>
        <br><br>
        <p>희망 오픈 예정일</p>
        <p style="font-size: 15pt;" >3.30(수)</p>
        <br>
    </div>
    <div >
        <button class="basic-btn btn3 medium-btn" style="width: 100%; margin-top: 2%;">프로젝트 수정</button>
    </div>
    <div class="block">
        <p style="font-size: 15pt;">감자나라 등록정보</p><br>
        <a>기본요건 확인</a><br>
        <a>기본정보 확인</a><br>
        <a>스토리 확인</a><br>
        <a>리워드 설계 확인</a><br>
        <a>위험요인 및 정책 확인</a><br>
        <a>파머정보 확인</a><br>
        <a>대표자 및 정산정보 확인</a>
    </div>
</div>
</body>
</html>
