<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tab-pane fade" id="notice" role="tabpanel" aria-labelledby="notice-tab">
    <div class="product-shipping-body">
        <h4 class="title">농사일지</h4>
        <!-- Begin 게시판영역 -->
        <table class="basic-table" id="project-qna-table" align="center">
            <tr>
                <th>답변상태</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            <tr>
                <td>미답변</td>
                <td>솔향기가 솔솔나나여?</td>
                <td>mmmj*****</td>
                <td>2022-02-20<br>07:15</td>
            </tr>
            <tr>
                <td>답변완료</td>
                <td>비밀글입니다. <img src="images/board/lock-icon.png" style="width: 20px; height: 20px;"></td>
                <td>mmmj*****</td>
                <td>2022-02-20<br>07:15</td>
            </tr>
        </table>

        <!-- paging -->
        <div class="paging-area" align="center">
            <button class="paging-btn first"><<</button>
            <button class="paging-btn prev"><</button>
            <button class="paging-btn">1</button>
            <button class="paging-btn next">></button>
            <button class="paging-btn last">>></button>
        </div>

        <button class="basic-btn medium-btn btn1">문의작성</button>
        <!-- 게시판영역 End Here -->
    </div>
</div>
</body>
</html>