<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>펀딩 목록 조회</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<script src="https://kit.fontawesome.com/c24bc5c6f2.js" crossorigin="anonymous"></script>
	<!-- Style CSS -->
	<link rel="stylesheet" th:href="@{ /css/funding.css }">
	<link rel="stylesheet" th:href="@{ /css/style.css }">
	
	<!-- JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- 신기한 모달 -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div th:replace="/common/menubar.html"></div>
<div th:replace="/common/supporterpage.html"></div>

<!-- 펀딩내역 박스 양식-->
<div class="tab-body-area" style="width: 45%">
	<span class="text-title">
        <img th:src="@{/images/common/Leaf.png}" style="vertical-align: -10%; width: 25px; height: 27px; margin-right: 7px;">
		 펀딩 내역
	</span>
	<hr width="100%" >
	<div style="margin-top: 7%" class=""></div>
	<div>
		<div class="funding-list-box">
			<div style="margin: 2%">
				<label class="category">버섯류</label><br>
				<label class="projectStatus">진행중</label><br>
				<label class="projectName">국내산 송이버섯</label><br>
				<label class="farmerName">by향긋</label><br>
				<br>
				<label class="fundingStatus">결제 예약</label>
				<button class="review-btn basic-btn btn1 medium-btn">평가하기</button>
			</div>
		</div>
		<div class="funding-list-box">
			<div style="margin: 2%">
				<label class="category">버섯류</label><br>
				<label class="projectStatus">진행중</label><br>
				<label class="projectName">국내산 송이버섯</label><br>
				<label class="farmerName">by향긋</label><br>
				<br>
				<label class="fundingStatus">결제 예약</label>
				<button class="review-btn basic-btn btn1 medium-btn">평가하기</button>
			</div>
		</div>
		<div class="funding-list-box">
			<div style="margin: 2%">
				<label class="category">버섯류</label><br>
				<label class="projectStatus">진행중</label><br>
				<label class="projectName">국내산 송이버섯</label><br>
				<label class="farmerName">by향긋</label><br>
				<br>
				<label class="fundingStatus">결제 예약</label>
				<button class="review-btn basic-btn btn1 medium-btn">평가하기</button>
			</div>
		</div>
		<div class="funding-list-box">
			<div style="margin: 2%">
				<label class="category">버섯류</label><br>
				<label class="projectStatus">진행중</label><br>
				<label class="projectName">국내산 송이버섯</label><br>
				<label class="farmerName">by향긋</label><br>
				<br>
				<label class="fundingStatus">결제 예약</label>
				<button class="review-btn basic-btn btn1 medium-btn">평가하기</button>
			</div>
		</div>
		<div class="funding-list-box">
			<div style="margin: 2%">
				<label class="category">버섯류</label><br>
				<label class="projectStatus">진행중</label><br>
				<label class="projectName">국내산 송이버섯</label><br>
				<label class="farmerName">by향긋</label><br>
				<br>
				<label class="fundingStatus">결제 예약</label>
				<button class="review-btn basic-btn btn1 medium-btn">평가하기</button>
			</div>
		</div>
	</div>
	
</div>



<div th:replace="/common/footer.html"></div>

</body>
</html>