.product-content-detail {
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    width: calc(100% - 110px);
    height: 100%;
    padding: 0 0 0 20px;
    border: 0;
    text-align: left;
}

.align-self-center {
    -webkit-align-self: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.product-name {
    font-size: 20px !important;
    line-height: 26px;
    display: block;
    font-weight: bold;
}

.product-name-detail {
    font-size: 25px !important;
    line-height: 100%;
    display: block;
    font-weight: bold;
    margin-top: 30px;
}

.product-subname-detail {
    font-size: 20px !important;
    line-height: 100%;
    display: block;
    margin-top: 30px;
    font-weight: 550;

}

.author {
    font-size: 16px;
    margin-left: 40%;
    margin-top: 70px;
    color: #999999 !important;
}

.faqcontent {
    font-size: 14px !important;
    font-weight: normal;
    line-height: 26px;
    margin-top: 20px;
}

.faqtitle {
    display: block;
}

p.faqcontent:hover {
    color: #bac34e;
}

p.faqcontent-detail {
    color: black;
}

.faqcontent:hover {
    color: #bac34e;
}

.product-item {
    margin-top: 50px !important;
}

.product-item-detail {
    margin-top: 50px !important;
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mb-0 {
    margin-bottom: 0 !important;
}