body {
    margin:0;
    padding:0;
    background-color: #FFF;
    font-size:14px;
}

div.row1 {
    height: 1080px;
}

.leaf {
    width: 25px;
    height: 27px;
    margin-right: 7px;
    vertical-align: 5%;
}

button.accordion {
    background-color:#FFF;
    cursor: pointer;
    width: 150%;
    border: none;
    font-size: 16px;
    transition: 0.5s;
    text-align: left;
    padding:10px;
    padding-bottom: 0px;
    display: inline;
}

button.accordion>p{
    float: left;
    margin-left: 10px;
}

button.accordion.active{
    color : #000;
}

button.accordion.active:after {
    background-image: url("../images/common/arrow.png");
    content:"";
}

div.panel {
    padding: 0 18px;
    padding-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.fundmenutitle {
    font-size: 20pt;
}

div.fundmenu > * {
    font-size: 16pt;
}

.arrow {
    margin-left: 30px;
}

.col-md-2, .col-md-7 {
    float: left;
}

.col-md-2 {
    margin-top: 20px !important;
}

.col-md-7 {
    margin-left: 30%;
    margin-top: 50px !important;
    float: right;
    width: 700px !important;
}

.col-md-7:not(.footer) {
    float: unset;
}

.fundtitle {
    font-size: 30pt;
    width: 800px;
}

.funddata {
    font-size: 20pt;
    margin-top: 20px;
    width: 700px;
    border: 1px solid black;
    border-top: 10px solid #BAC34E;
}

.fundsubtitle {
    margin-left: 20px;
    line-height: 70px;
    padding-right: 20px;
}

.fundstatus {
    font-size: 12pt;
}

.fund-btn {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    font-size: 14pt;
    color: #BAC34E;
    border: 1px solid #BAC34E;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 30px;
}

.fund-btn:hover {
    cursor: pointer;
}

/* ================= 신청 메인 구분선 =================== */
.breadcrumb:not(.div) {
    margin-bottom: 0px;
}

.basictitle {
    font-size: 20pt;
}

.basicsubtitle {
    font-size: 10pt;
    color: #C5C5C5;
}

.basicmenu {
    margin-top: 20px;
}

.basicimg {
    width: 70px;
    height: 70px;
}

.basicimg:hover {
    cursor: pointer;
}

.mockfundtitle1 {
    width: 700px;
    height: 50px;
    font-size: 16pt;
}

.mockfundtitle2 {
    width: 650px;
    height: 50px;
    font-size: 16pt;
}

input[type="date"]::before {
    content: attr(data-th-placeholder);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/common/vector.png") no-repeat 98% 50%;
}

select::-ms-expand {
    display: none;
}

.btn1 {
    float: right;
    margin-top: 50px;
}

/* ========================= 기본 정보 구분선========================= */
.projectsummary {
    width: 700px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.story-btn {
    margin-top: 10px;
    float: none;
}

.guideline {
    color: #BAC34E;
    text-decoration: underline;
    margin-left: 20px;
}

.guideline:hover {
    cursor: pointer;
}

.story {
    height: 1200px !important;
}