.login-title {
    font-size: 37px;
}
.login-form {
    position: relative;
    top: 30%;
    left: 37%;
    align: center;
    width: 25%;
}
.login-form input {
    width: 90%;
    height: 21px;
    padding: 16px;
    margin-top: 10px;
    border: 1px solid #C8B5B5;
    font-size: 17px;
}
.logo {
    background: url("../../static/images/logo.png") no-repeat;
    width: 300px;
    height: 100px;
    border: white;
    left: 15%;
    position: relative;
}
.big-btn {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}
.bigbig-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
}
.bigbigbig-btn {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    background: #BAC34E;
    border: 1px solid white;
    margin-bottom: 25px;
}
.login-find {
    float: right;
    margin-top: 18px;
    margin-bottom: 18px;
    border: none;
    background: white;
}
.login-regist {
    text-decoration: underline;
    font-weight: normal;
    color: #BAC34E;
    position: relative;
    left: 42%;
}